/* Google Font - Sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Tailwind Css & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* Theme Controls */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F20101;
  --color-secondary: #00BC91;
  --color-accent: #DFDFDFC4;
}

/* Custom Css */
body {
  font-family: 'Sora', sans-serif;
  background: #000;
}